/* @import url('https://fonts.googleapis.com/css2?family=Allerta&family=Eczar&family=Libre+Baskerville&display=swap'); */

.item {
    font-size: 12pt;
    font-family: 'robot', sans-serif;
}

.breadcrumb{
    background-color: #d6d6d5;

}
